<!DOCTYPE html>
<html>
<head>
  <title>Reset Password</title>
</head>
<body>
  <h1>Reset Password</h1>
  <% if (error) { %>
    <p style="color: red;"><%= error %></p>
  <% } %>
  <form action="/reset-password/<%= resetCode %>" method="post">
    <input type="password" name="password" placeholder="New Password" required /><br />
    <input type="submit" value="Reset Password" />
  </form>
</body>
</html>
